<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
	<div th:if = "${name != null}">
			<a href= "/logout" style = "display : block">Logout</a>
	</div>
	<div th:unless = "${name != null}">
		<table>
			<tr>
			<td><a href= "/registration">Registration</a></td>
			<td><a href= "/login">Login</a></td>
			</tr>
		</table>
	</div>
	<h1>Welcome to Index PAGE!</h1>


</body>
</html>