<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Registration page</title>
</head>
<body>
	<form th:action ="@{/registration}" method = "post" th:object = "${user}">
	
		<label>Input your login</label>	
		<input type="text" th:field= "${user.login}"/>
		<div style="color:red"th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Invalid login</div>
		
		<br/>
		
		<label>Input your password</label>
		<input type="password" th:field= "${user.password}"/>
		<div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid password</div>
		
		<button type="submit">Registration</button>
	</form>
</body>
</html>